<h1>{{successMessage}}</h1>
<table class="table" ng-init="getList()">
  <thead>
    <tr>
      <th>id</th>
      <th>Name</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Delete</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="record in records">
      <th scope="row">{{record._id}}</th>
      <td>{{record.name}}</td>
      <td>{{record.description}}</td>
      <td>{{record.amount}}</td>
      <td><span class="glyphicon glyphicon-trash" ng-click="deleteRecord(record)"></span></td>
      <td> <span class="glyphicon glyphicon-edit" ng-click="editRecord(record)"></span></td>
    </tr>
  </tbody>
</table>
